.body{
    background-color: rgb(229, 147, 200);
    font-style: italic;
    padding: 0%;
    margin: 10px;

}
.container{
    background-color: rgb(245, 145, 220);
    font-weight: 100;
    font-style: italic;
    justify-content: center;
    text-align: center;
    display: block;
}